@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

html {
  font-size: 18px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background-color: #468ef9;
  border-radius: 10px;
  height: 12%;
}

.bg-primary {
  background-color: linear-gradient(130deg, #468ef9, #0c66ee);
}

.text-blue-gradient {
  background: -webkit-linear-gradient(
    283deg,
    #3984f4,
    #0cd3ff,
    #2f7cf0,
    #0e65e8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
